 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Product form</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form >
      <div>name:</div><input type="text" required [(ngModel)]="rowForm.make" [ngModelOptions]="{standalone: true}">
      <div>Category:</div>
      <select name="category"type="text"[(ngModel)]="rowForm.category"  [ngModelOptions]="{standalone: true}">
        <option value="Sports">Sports</option>
        <option value="Toys">Toys</option>
        <option value="Clothes">Clothes</option>
        <option value="Food">Food</option>
      </select>
       
      <div>Price:</div> 
      <input type="number"[(ngModel)]="rowForm.price"  [ngModelOptions]="{standalone: true}">
      <div>Date created:</div>
      <input type="date" [(ngModel)]="rowForm.date"  [ngModelOptions]="{standalone: true}">
      <div class="add"><button mat-raised-button color="primary"(click)="saveForm()">Save</button></div>
      <div class="error"  *ngIf="errorMassage" >{{errorMassage}}</div>
    </form>
  </div>
</ng-template>


<span class="add">
  <button mat-raised-button color="primary"(click)="openModal(template)">Add-product</button>
</span>

<span class="add">
  <button mat-raised-button color="warn" (click)="onRemoveSelected()">Remove Selected</button>
</span>

<span>
  <button mat-raised-button color="warn" (click)="onEditSelected()">Edit Selected</button>
</span>


<ag-grid-angular
    style="width: 100%; height: 500px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [rowSelection]="rowSelection"
    (gridReady)="onGridReady($event)"
    >
</ag-grid-angular>  